modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web App"

[[workflows.workflow]]
name = "Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Feature-List && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "902418995248-6hvjknke6lqvon6gvrhkorfjl6f77ph1.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_CALLBACK_URL = "http://localhost:5000/api/auth/google/callback"
