[build]
command = "npm run build"
publish = "dist"

[functions]
directory = "server"
node_bundler = "esbuild"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/server:path"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
